<div class="mt-5 container">
    <div class="row">
        <div class="col-md-8">    
            <app-card-cart [products]="products">

            </app-card-cart>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">            
                <div class="card-body">
                <h5 class="card-title">PURCHASE</h5>               
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Total:{{total|currency}}</li>
                
                </ul>
                <div class="card-body">
                <a routerLink="/cart/orders" class="btn btn-primary btn-block">RETURN</a>
                
                </div>
            </div>
        </div>
    </div>
</div>
